<article 
    class="post hover-info" 
    value="{{id}}">

	<h2 
        class="post-title">
        {{title}}
    </h2>

	<p 
        class="post-content">
        {{content}}
    </p>

	<div 
        class="post-footer">

		<div 
            class="post-reference">

			<span 
                class="post-user">
                {{user.name}}
            </span>

			<br />

			<time 
                class="post-date">
                {{date_created}}
            </time>
		</div>
	</div>
</article>
